*{padding: 0;margin: 0;}
a{text-decoration: none; color: white; transition: all 0.8s ease;}
span, li{color: white; font-family: linux , sans-serif;}
hr{color: #B069DB;}

@font-face {
    font-family: boston;
    src: url(/fonts/boston/boston.ttf);
}

@font-face {
    font-family: linux;
    src: url(/fonts/linux_libertine/LinLibertine_aDRS.ttf);
}

p, h1, h2, h3, h4{color: white;font-family: linux , sans-serif;}

body {
    background-image: url(/img/pg2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.web-title{
    width: 90%;
}

.home{
    width: 10%;
    text-align: center;
    transition: all 0.5s ease;
}

.home:hover{
    transform: scale(1.2);
}

.web-title h1{
    margin: 2% 0 2% 10%;
    font-family: linux;
    text-align: center;
    font-size: 4.0em;
}

.web-title img{
    margin: 0 0 0 10%;
}

.columnas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1% 1% 0 1%;
    height: 0 0 0 0;
    
}

.col1{
    display: flex;
    flex-direction: column;
/*     background-color: aquamarine; */
    width: 50%;
    margin: 0 0% 0 0;
}

.col2{
    display: flex;
    flex-direction: column;
/*     background-color: green; */
    width: 50%;
    margin: 0 0% 0 0;
}

.sec1{
    display: flex;
    flex-direction: column;
    padding: 3%;
    height: 75%;
    border: 1px solid #B069DB;
}

.sec1 .title{
    color: #B069DB;
    text-align: center;
    font-size: 1.7em;
}

.sec1 .txt{
    margin: 6% 6% 0 6%;
    text-align: justify;
    font-size: 1.4em;
}

.sec2{
    display: flex;
    flex-direction: column;
    margin: 3% 0% 0 0%;
    padding: 3%;
    border: 1px solid #B069DB;
}

.sec2 .title{
    color: #B069DB;
    text-align: center;
    font-size: 1.7em;
}

.sec2 .txt{
    margin: 6%;
    text-align: center;
    font-size: 1.4em;
}

.sec3{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    margin: 0% 0% 0 4%;
    padding: 3%;
    border: 1px solid #B069DB;
}

.sec3 .title{
    color: #B069DB;
    text-align: center;
    font-size: 1.7em;
}

.sec3 .txt1, .sec3 .txt2{
    margin: 6%;
    text-align: justify;
    font-size: 1.4em;
}

